@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.wrap {
  width: 80%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  margin: 20px 0;
}

nav .d-flex {
  display: flex;
  justify-content: space-between;
}

nav .d-flex .menu-items {
  display: flex;
  align-items: center;
}

nav .d-flex .menu-items li {
  padding: 0 10px;
}

nav .d-flex .menu-items li a {
  color: #303030;
  text-transform: uppercase;
}

nav .d-flex .menu-items li:hover a {
  color: #0E7CEC;
}

.jumbotron {
  height: 400px;
  background-position: center top;
  background-size: 100%;
  background-image: url("/img/jumbotron.jpg");
}

main {
  background-color: black;
  padding-bottom: 50px;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 50px 0;
}

main .cards .card {
  width: calc((100% / 6) - 10px);
  margin-top: 10px;
}

main .cards .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .cards .card .card-content img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}

main .cards .card .series {
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

main .btn {
  text-align: center;
}

main .btn a {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #0E7CEC;
  text-transform: uppercase;
}

main .btn-current-series {
  text-align: left;
}

main .btn-current-series a {
  margin-top: -100px;
}

footer {
  background-image: url("/img/footer-bg.jpg");
}

footer .section-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

footer .section-links .links {
  display: flex;
  justify-content: space-between;
}

footer .section-links .links .list-items {
  margin-right: 20px;
}

footer .section-links .links .list-items h3 {
  color: white;
  text-transform: uppercase;
}

footer .section-links .links .list-items ul {
  list-style: none;
  padding-bottom: 20px;
}

footer .section-links .links .list-items ul li a {
  color: #afafaf;
  text-decoration: none;
  font-size: 0.8rem;
}

footer .section-links img {
  width: 400px;
}

footer .section-sign {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #303030;
  padding: 10px 0;
}

footer .section-sign .bottom-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .section-sign .bottom-links .button a {
  padding: 10px;
  border: 2px solid #0E7CEC;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

footer .section-sign .bottom-links .socials {
  display: flex;
  align-items: center;
}

footer .section-sign .bottom-links .socials img,
footer .section-sign .bottom-links .socials h3 {
  padding: 10px;
}

footer .section-sign .bottom-links .socials h3 {
  text-transform: uppercase;
  color: #0E7CEC;
}

