footer{
    background-image: url('/img/footer-bg.jpg');
    
    .section-links { 
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding: 20px 0 20px 0;
        .links {
            display:flex;
            justify-content: space-between;
            .list-items {
                margin-right: 20px;
                h3 {
                    color:white;
                    text-transform:uppercase;
                }
                ul {
                    list-style: none;
                    padding-bottom: 20px;
                    li {
                        a {
                            color:rgb(175, 175, 175);
                            text-decoration:none;
                            font-size: 0.8rem;
                        } 
                    }
                }
            }
        }
        img {
            width: 400px;
        }
    }
    .section-sign {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $bg-light-secondary;
        padding: 10px 0;
    
        .bottom-links{
            display:flex;
            align-items:center;
            justify-content: space-between;
            .button {
                a {
                    padding: 10px;
                    border: 2px solid $primary-color;
                    color: white;
                    text-decoration:none;
                    text-transform: uppercase;
                }
            }
            .socials{
                display:flex;
                align-items:center;
            
                img,h3{
                    padding: 10px;
                }
                h3 {
                    text-transform: uppercase;
                    color: $primary-color;
                }
            }
        }
    
    }


}
